.env
03_lakehouse/dbt/profiles.yml
03_lakehouse/dbt/target/
03_lakehouse/dbt/dbt_packages/
03_lakehouse/dbt/.venv/
03_lakehouse/dbt/.user.yml
03_lakehouse/dbt/logs/
03_lakehouse/tasks/ddl/
03_lakehouse/tasks/refresh/
03_lakehouse/tasks/.folder_ids.json
__pycache__/
*.pyc
.DS_Store
